@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

@keyframes floatSlow {
  0%   { transform: translate(-50%, 0px); }
  50%  { transform: translate(-50%, 30px); }
  100% { transform: translate(-50%, 0px); }
}

@keyframes floatSlow2 {
  0%   { transform: translate(0px, 0px); }
  50%  { transform: translate(-30px, -20px); }
  100% { transform: translate(0px, 0px); }
}


.animate-floatSlow {
  animation: floatSlow 10s ease-in-out infinite;
}

.animate-floatSlow2 {
  animation: floatSlow2 12s ease-in-out infinite;
}
